In [1]:
import pandas as pd
import numpy as np

In [2]:
x1 = np.arange(0,10)
x2 = np.arange(0,10)
X = np.array(np.meshgrid(x1,x2)).T.reshape(-1,2)

In [3]:
data = pd.DataFrame(data=X, columns=['x1','x2'])
data

    x1  x2
0    0   0
1    0   1
2    0   2
3    0   3
4    0   4
..  ..  ..
95   9   5
96   9   6
97   9   7
98   9   8
99   9   9

[100 rows x 2 columns]

In [13]:
y = data.apply(lambda X: X.x1+X.x2, axis=1)
data['y'] = y
data.set_index(['x1','x2'], inplace=True)
data

        y
x1 x2
0  0    0
   1    1
   2    2
   3    3
   4    4
...    ..
9  5   14
   6   15
   7   16
   8   17
   9   18

[100 rows x 1 columns]

In [14]:
data.to_csv('./dataset/dataset.csv')

Train model

In [17]:
# Load Dataset
data = pd.read_csv('./dataset/dataset.csv')
data

    x1  x2   y
0    0   0   0
1    0   1   1
2    0   2   2
3    0   3   3
4    0   4   4
..  ..  ..  ..
95   9   5  14
96   9   6  15
97   9   7  16
98   9   8  17
99   9   9  18

[100 rows x 3 columns]

In [22]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.2)
print(f"{train.shape=} {test.shape=}")

train.shape=(80, 3) test.shape=(20, 3)

In [30]:
from sklearn.linear_model import LinearRegression
X = train[['x1','x2']]
y = train[['y']]
model = LinearRegression()
model.fit(X,y)
print(f"{model.coef_=}")

model.coef_=array([[1., 1.]])

In [35]:
from sklearn.metrics import mean_squared_error
# Test the model
pred = model.predict(test[['x1','x2']])
mse = mean_squared_error(y_pred=pred, y_true=test[['y']])
print(f"{mse=}")

mse=3.83583615163717e-30

Save and Load model

In [11]:
from utils import *

In [12]:
save(filename="./models/myModel.pickle", obj=model)

NameError: name 'model' is not defined

In [13]:
model = load(filename='./models/myModel.pickle')
print(f"{model.coef_=}")

model.coef_=array([[1., 1.]])

In [5]:
import pandas as pd
import numpy as np

In [27]:
x_1 = 1
x_2 = 10
X = np.array([x_1,x_2]).reshape(-1,2)
X = pd.DataFrame(X, columns=['x1', 'x2']) 
X

   x1  x2
0   1  10

In [28]:
a = model.predict(X)

In [30]:
a[0][0]

10.999999999999998